#photo-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

#photo-container .image {
    @apply .bg-gray-600;
    display: flex;
    justify-content: center;
}

.contain-image {
    @apply .shadow-2xl;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#photo-container .details {
    @apply .bg-blue-100;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: normal;
    overflow-wrap: normal;
}
