#app-root {
    height: 100%;
    width: 100%;
}

#app-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

#app-container aside {
    @apply .bg-blue-500;
}

#app-container article {
    overflow-y: auto;
}
