#app-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100%;
}

#app-container header {
    grid-area: header;
    @apply .bg-gray-600;
}

#app-container aside {
    grid-area: sidebar;
    overflow-y: auto;
    @apply .bg-gray-300;
}

#app-container article {
    grid-area: main;
    overflow-y: auto;
}
